#Flask==2.1.0
#gunicorn
#numpy
#grpcio==1.56.0
#grpcio-tools==1.33.2
#accelerate==0.22.0
#diffusers==0.20.2
#protobuf==3.20.3
#torch==1.13.1
#torchvision==0.14.1
#transformers==4.32.1

Flask
gunicorn
numpy
grpcio
grpcio-tools
accelerate
diffusers
protobuf
torch
torchvision
transformers
pillow
